<div>
  <h1>課程內容</h1>
  <%= link_to '回課程頁', courses_path %>
</div>

<section>
  <div>
    <img src="https://picsum.photos/1500/400/?random=10">
  </div>
  <h2><%= @course.name %> | <span><%= @course.categories[0].name %></span></h2>
  <p><%= @course.introduction %></p>
  <div>
    <p><span><%= currency_sign(@course.currency) %> </span><%= @course.price %></p>
  </div>
  <div>
    <p>購買後，課程有效期為: <%= @course.validity_duration %> 天</p>
  </div>
  <% if user_is_admin? %>
    <% if course_belongs_to_user?(@course.id) %>
      <div>
        <%= link_to '修改課程', edit_course_path(@course) %>
        <%= link_to '刪除課程', course_path(@course), method: "delete", data: { confirm: "確定要刪除此課程嗎？"} %>
      </div>
    <% end %>  
  <% end %>
  <% if !course_belongs_to_user?(@course.id) %>
    <%= link_to '前往購買', purchase_course_path(@course.slug) %>
  <% end %> 

</section>