<section class="courseshow_body">

  <div class="courseshow_title">
  <h1>èª²ç¨‹å…§å®¹</h1>
  <%= link_to 'ðŸ”™ å›žèª²ç¨‹ç¸½è¦½é ', courses_path %>
  </div>

  <div>
    <h2 class="courseshow_course_name"><%= @course.name %> | <span><%= @course.categories[0].name %></span></h2>
    <div class="photo_box">
      <img src="https://picsum.photos/1500/400/?random=10">
    </div>
    <div class="courseshow_details">
      <p class= "courseshow_introduction"><%= @course.introduction %></p>
      <div class="price_and_duration">
        <div>
        <p><span><%= currency_sign(@course.currency) %> </span><%= @course.price %></p>
        </div>
        <div>
          <p>è³¼è²·å¾Œï¼Œèª²ç¨‹æœ‰æ•ˆæœŸç‚º: <span><%= @course.validity_duration %></span> å¤©</p>
        </div>
      </div>

    </div>
    
    <% if user_is_admin? %>
      <% if course_belongs_to_user?(@course.id) %>
        <div class="courseshow_action_btn_box">
          <%= link_to 'ä¿®æ”¹èª²ç¨‹', edit_course_path(@course) %>
          <%= link_to 'åˆªé™¤èª²ç¨‹', course_path(@course), method: "delete", data: { confirm: "ç¢ºå®šè¦åˆªé™¤æ­¤èª²ç¨‹å—Žï¼Ÿ"} %>
        </div>
      <% end %>  
    <% end %>
    <% if !course_belongs_to_user?(@course.id) %>
      <%= link_to 'å‰å¾€è³¼è²·', purchase_course_path(@course.slug), class: "courseshow_purchase_btn" %>
    <% end %> 
  </div>

</section>
